<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{fragments/head_fragment :: headFragment(33498857)}"></head>
<body class="Site">
<!--if lt IE 8
p.error-browser
    | Ваш браузер&nbsp;
    em устарел!&nbsp;
    a(href="http://browsehappy.com/") Выберите новую версию
        +s
        | браузера здесь&nbsp;
    | для правильного отображения сайта.
-->
<header th:replace="~{fragments/header_fragment :: headFragment(itemActive=1)}"></header>
<div class="Middle Middle_search">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title">Поиск</h1>
            <div class="Section">
                <div class="search">
                    <form class="form form_search" action="#" method="post" th:attr="data-searchlimit=${searchLimit}">
                        <input class="search-input" id="querypage" name="querypage" type="text"
                               th:placeholder="#{searchbar.placeholder}" th:value="${searchWordDto.getExample()}"/>
                        <button class="search-button" type="submit" name="searchpage" id="searchpage" th:text="#{searchbar.text}">Поиск</button>
                    </form>
                </div>
            </div>
            <div class="Section Section_close">
                <header class="Section-header">
                    <h2 class="Section-title Middle-searchHeader"
                        th:text="${searchCount} > 0 ? 'Найдено книг: ' + ${searchCount} : 'По вашему запросу книги не найдены'">Найдено 40 книг</h2>
                </header>
                <div class="Cards Cards_search Cards_refresh">
                    <th:block th:each="book : ${searchResults}" th:insert="~{fragments/book_fragment :: printBook(book=${book})}"></th:block>
                    <div class="Cards-footer Cards-footer_center" th:if="${#lists.size(searchResults) == refreshLimit}">
                        <a class="btn btn_primary" href="#" data-refreshshow="search" th:text="#{button.showmore}"
                           th:attr="data-refreshquery=${searchWordDto.getExample()}, data-refreshoffset=${refreshOffset}, data-refreshlimit=${refreshLimit}">Показать еще</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>