
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{fragments/head_fragment :: headFragment(56375974)}"></head>
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  <header th:replace="~{fragments/header_fragment :: headFragment(itemActive=2)}"></header>
  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <ul class="breadcrumbs">
          <li class="breadcrumbs-item"><a href="/index.html" th:href="@{/}">Главная</a>
          </li>
          <li class="breadcrumbs-item"><a href="/genres/index.html" th:href="@{/genres}">Жанры</a>
          </li>
          <li class="breadcrumbs-item"><a href="/genres/index.html" th:text="${genre.getRoot().getName()}" th:href="@{/genres}">Легкое чтение</a>
          </li>
          <li class="breadcrumbs-item breadcrumbs-item_current" th:text="${genre.getName()}"><span>Детективы</span>
          </li>
        </ul>
        <header class="Middle-header">
          <h1 class="Middle-title" th:text="${genre.getName()}">Детективы</h1>
        </header>
        <div class="Section">
          <div class="Cards Cards_refresh">
            <div class="Card" th:each="book : ${genreBooks}">
              <div class="Card-picture">
                <a href="#">
                  <img th:src="${book.getImage()}" alt="card.jpg"/>
                  <div class="Card-sale" th:if="${book.getDiscount() > 0}" th:text="${book.getDiscount()} + '% скидка'">30% скидка</div>
                  <div class="Card-ribbon" th:if="${book.getIsBestseller() == 1}"><span class="Card-ribbonText">Бестселлер</span></div>
                </a>
              </div>
              <div class="Card-content">
                <strong class="Card-title">
                  <a href="#" th:text="${book.getTitle()}">Техника</a>
                </strong>
                <div class="Card-description" th:text="${book.getAuthorName()}">Кондратенко Александр Петрович</div>
                <div class="Card-cost">
                  <span th:class="${book.getDiscount() > 0} ? 'Card-priceOld' : 'Card-price'" th:text="'₽' + ${book.getPrice()}">₽300.00</span>
                  <span class="Card-price" th:if="${book.getDiscount() > 0}" th:text="'₽' + ${book.getDiscountPrice()}">₽19.00</span>
                </div>
              </div>
            </div>
            <div class="Cards-footer Cards-footer_center">
              <a class="btn btn_primary" href="#"
                 data-refreshshow="genre"
                 data-refreshoffset="6"
                 data-refreshlimit="6"
                 th:attr="data-refreshid=${genre.getSlug()}"
                 th:text="#{button.showmore}"
                 data-refreshquery="Техника">Показать еще</a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
  <script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body></html>