<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{fragments/head_fragment :: headFragment(79103183)}">
  <link rel="stylesheet" href="/assets/css/DownloadBookWindowStyle.css">
</head>
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  <header th:replace="~{fragments/header_fragment :: headFragment(itemActive=2)}"></header>
  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <ul class="breadcrumbs">
          <li class="breadcrumbs-item">
            <a th:href="@{/}" th:text="#{menubar.main}" href="/index.html">Главная</a>
          </li>
          <li class="breadcrumbs-item">
            <a th:href="@{/genres}" th:text="#{menubar.books}" href="/genres/index.html">Книги</a>
          </li>
          <li class="breadcrumbs-item breadcrumbs-item_current">
            <span th:text="${book.getTitle()}">Мара и морок</span>
          </li>
        </ul>
        <div class="Product">
          <div class="ProductCard">
            <div class="ProductCard-look">
              <form id="imgForm" method="post" enctype="multipart/form-data" action="#" th:action="'/books/' + ${book.getSlug()} + '/img/save'">
                <div class="ProductCard-photo" id="uploadButton">
                  <img th:src="${book.getImage()}" src="/assets/img/content/main/card.jpg" alt="card.jpg"/>
                </div>
                <input type="bookFile" name="bookFile" id="dialog" style="display: none" accept="image/*">
              </form>
            </div>
            <div class="ProductCard-desc">
              <div class="ProductCard-header">
                <h1 class="ProductCard-title" th:text="${book.getTitle()}">Мара и морок</h1>
                <div class="ProductCard-author">
                  <span class="ProductCard-titleProp" th:text="#{menubar.author} + ':'">Автор:</span>&#32;
                  <a th:each="author, iStat : ${book.getAuthors()}" th:text="${author.getName()} + ${iStat.count == iStat.size ? '' : ',  '}"
                     th:href="'/authors/' + ${author.getSlug()}">Лия Арден</a>
                </div>
                <div class="ProductCard-rating">
                  <span class="ProductCard-titleProp" th:text="#{menubar.rate} + ':'">Рейтинг:</span>
                  <button class="trigger trigger_dropdown" type="button">
                    <div class="Rating Rating_noStyleLink">
                      <span th:replace="~{fragments/rating_stars_fragment :: RatingStarFragment(rate=${bookRate})}"/>
                      <span class="Rating-title" th:text="${bookRateCount}">(567)</span>
                    </div>
                    <div class="modal modal_compression modal_dropdown">
                      <div class="modal-window">
                        <a class="modal-close" href="#"><span></span><span></span></a>
                        <strong class="modal-title">Распределение оценок</strong>
                        <div class="RatingGroup" th:each="rate : ${bookRates}">
                          <span class="Rating">
                            <span th:replace="~{fragments/rating_stars_fragment :: RatingStarFragment(rate=${rate.getValue()})}"/>
                            <span class="Rating-title" th:text="${rate.getCount()}">10</span>
                          </span>
                          <br th:if="${rate.getValue() > 1}">
                        </div>
                      </div>
                    </div>
                  </button>
                </div>
                <div class="ProductCard-assessment" th:if="${!isAnonymousUser}">
                  <span class="ProductCard-titleProp" th:text="#{menubar.rateTheBook} + ':'">Оцените книгу:</span>
                  <span class="Rating Rating_input" data-bookid="2121" th:attr="data-bookid = ${book.getId()}">
                    <span class="Rating-stars">
                      <span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg>
                      </span>
                      <input name="rating" type="radio" value="1"/>
                      <span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg>
                      </span>
                      <input name="rating" type="radio" value="2"/>
                      <span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg>
                      </span>
                      <input name="rating" type="radio" value="3"/>
                      <span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg>
                      </span>
                      <input name="rating" type="radio" value="4"/>
                      <span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg>
                      </span>
                      <input name="rating" type="radio" value="5"/>
                    </span>
                  </span>
                </div>
                <div class="ProductCard-tags">
                  <span class="ProductCard-titleProp" th:text="#{menubar.tags} + ':'">Тэги:</span>
                  <a th:each="tag, iStat : ${book.getTags()}" th:text="${tag.getName()} + ${iStat.count == iStat.size ? '' : ',  '}"
                     th:href="'/tags/' + ${tag.getSlug()}">Современные</a>
                </div>
                <div class="ProductCard-cost">
                  <span class="ProductCard-titleProp" th:text="#{menubar.price} + ':'">Цена:</span>
                  <span class="ProductCard-priceOld" th:text="'₽' + ${book.getPrice()}">₽300</span>
                  <span class="ProductCard-price" th:text="'₽' + ${book.getDiscountPrice()}">₽180</span>
                </div>
                <!--+div.-info
                //+div.-cost
                //    +div.-price $55.00
                //    +div.-priceOld $115.00
                //+div.-compare
                //    +btn._default
                //        +img('change.svg','icons/card').-icon
                -->
              </div>
              <div class="ProductCard-text">
                <p th:text="${book.getDescription()}">Таких, как я, называют Марами - отмеченными самой богиней смерти Мораной</p>
              </div>
              <div class="ProductCard-cart">
                <!--+div.-cartElement.-cartElement_amount-->
                <!--    +Amount._product-->
                <div class="ProductCard-cartElement">
                  <button class="btn btn_primary btn_outline" data-sendstatus="KEPT"
                          th:attr="data-bookid = ${book.getSlug()}, data-alttext=${#lists.contains(keptBooks, book)} ? #{button.postpone} : #{button.postpone.back}"
                          data-btntype="check" data-btnradio="buyblock" data-check="false" data-alttext="Отложена">
                    <span class="btn-icon">
                      <img src="/assets/img/icons/heart.svg" alt="heart.svg"/>
                    </span>
                    <span class="btn-content" th:text="${#lists.contains(keptBooks, book)} ? #{button.postpone.back} : #{button.postpone}">Отложить</span>
                  </button>
                </div>
                <div class="ProductCard-cartElement">
                  <button class="btn btn_primary btn_outline" data-sendstatus="CART"
                          th:attr="data-bookid=${book.getSlug()}, data-alttext=${#lists.contains(cartBooks, book)} ? #{button.buy} : #{button.buy.basket}"
                          data-btntype="check" data-btnradio="buyblock" data-check="false" data-alttext="В корзине">
                    <span class="btn-icon">
                      <img src="/assets/img/icons/shopping-basket.svg" alt="shopping-basket.svg"/>
                    </span>
                    <span class="btn-content" th:text="${#lists.contains(cartBooks, book)} ? #{button.buy.basket} : #{button.buy}">Купить</span>
                  </button>
                </div>
              </div>
              <div class="ProductCard-cart">
                <!--+div.-cartElement.-cartElement_amount-->
                <!--    +Amount._product-->
                <div class="ProductCard-cartElement">
                  <a class="btn btn_primary btn_outline" href="#">
                    <span class="btn-icon">
                      <img src="/assets/img/icons/download.svg" alt="download.svg"/>
                    </span>
                    <span class="btn-content" th:text="#{button.download}">Скачать</span>
                  </a>
                </div>
                <div class="ProductCard-cartElement">
                  <button class="btn btn_primary btn_outline" data-sendstatus="ARCHIVED" data-btntype="check" data-btnradio="buyblock" data-check="false"
                          th:attr="data-bookid=${book.getSlug()}, data-alttext=${#lists.contains(archivedBooks, book)} ? #{button.archive} : #{button.archive.back}">
                    <span class="btn-icon">
                      <img src="/assets/img/icons/archive.svg" alt="archive.svg"/>
                    </span>
                    <span class="btn-content" th:text="${#lists.contains(archivedBooks, book)} ? #{button.archive.back} : #{button.archive}">В архив</span>
                  </button>
                </div>
                <div id="myPopup">
                  <p>Ссылки для скачивания</p>
                  <table th:if="${!isLimitDownloadExceeded}" border="0">
                    <tr th:each="bookFile : ${bookFilesData}">
                      <td th:text="${bookFile.getBookFile().getType().getName()}"></td>
                      <td th:text="${bookFile.getBookFile().getType().getDescription()}"></td>
                      <td th:text="${bookFile.getFileSize()} + ' КБ'"></td>
                      <td>
                        <button type="button" class="btn_info"
                                th:onclick="'window.location.href = \''+@{'/books/download/' + ${bookFile.getFile().getHash()}}+'\''"
                                th:text="#{button.download}"></button>
                      </td>
                    </tr>
                  </table>
                  <p th:if="${isLimitDownloadExceeded}">Вы превысили лимит скачивания данной книги.&#32;
                    <a th:href="@{/contacts}">Обратитесь в техподдержку,&#32;</a><span> если хотите скачать книгу снова</span>
                  </p>
                  <span id="myPopup_close" class="close">❎</span>
                </div>
                <div id="myOverlay"></div>
              </div>
              <!--+div.-cart-->
              <!--    //+div.-cartElement.-cartElement_amount-->
              <!--    //    +Amount._product-->
              <!--    +div.-cartElement-->
              <!--        +btn('button')(data-sendstatus='UNLINK' data-bookid="[1111]")._muted Вернуть из архива-->
            </div>
          </div>
          <div class="Product-comments">
            <div class="Product-comments-header">
              <h3 class="Product-comments-title" th:text="#{label.reviews.r1}">Отзывы</h3>
              <span class="Rating">
                <span th:replace="~{fragments/rating_stars_fragment :: RatingStarFragment(rate=${bookRate})}"/>
                <span class="Rating-title" th:text="${bookRateCount} + ' ' + #{label.reviews.r2}">567 отзывов</span>
              </span>
            </div>
          </div>
          <div class="Comments">
            <strong class="Comments-title" th:text="#{label.review.write}" th:if="${!isAnonymousUser}">Написать отзыв</strong>
            <div class="Comments-addComment" th:if="${!isAnonymousUser}">
              <form class="form" action="#" method="post" th:attr="data-bookid = ${book.getId()}">
                <div class="form-group">
                  <textarea class="form-textarea Comments-review" name="review" id="review" th:placeholder="#{reviewbar.placeholder}" data-validate="require"></textarea>
                </div>
                <div class="form-group Comments-sendReview">
                  <button class="btn btn_warning" type="submit" th:text="#{button.review.sendreview}">Отправить отзыв</button>
                </div>
              </form>
            </div>
            <div th:if="${isAnonymousUser}">
              <h3 class="Comments-title" th:text="#{label.review.anonymoususer}">Отзывы могут оставлять только авторизованные пользователи</h3>
              <div class="form-group form-group_center">
                <a th:href="@{/signin}">
                  <button class="btn btn_primary form-btn" th:text="#{button.signin}">Войти</button>
                </a>
                <a th:href="@{/signup}">
                  <button class="btn btn_primary form-btn" th:text="#{button.registration}">Зарегистрироваться</button>
                </a>
              </div>
            </div>
            <div class="Comment" th:each="bookReview : ${bookReviewData}">
              <div class="Comment-column Comment-column_pict">
                <div class="Comment-avatar"></div>
              </div>
              <div class="Comment-column">
                <header class="Comment-header">
                  <div>
                    <strong class="Comment-title">
                      <span th:text="${bookReview.getReview().getUser().getName()}">Дмитрий Петров</span>
                      <span class="Comment-rating">
                        <span class="Rating Rating_comment">
                          <span th:replace="~{fragments/rating_stars_fragment :: RatingStarFragment(rate=${bookReview.getRate() != null ? bookReview.getRate().getValue() : 0})}"/>
                        </span>
                      </span>
                    </strong>
                    <span class="Comment-date" th:text="${bookReview.getReview().getTime().toLocaleString()}">17.04.2020 16:40</span>
                  </div>
                </header>
                <div class="Comment-content">
                  <div class="Spoiler">
                    <div class="Spoiler-visible">
                      <p th:text="${#strings.indexOf(bookReview.getReview().getText(), '.') >= 0 ? #strings.substringBefore(bookReview.getReview().getText(), '.') : bookReview.getReview().getText()}">Отзыв</p>
                    </div>
                    <div class="Spoiler-hide" th:if="${#strings.indexOf(bookReview.getReview().getText(), '.') >= 0}">
                      <p th:text="${#strings.substringAfter(bookReview.getReview().getText(), '.')}">Первая книга - сборник повестей и рассказов "Большой поток" - посвящена людям леспромхоза.</p>
                    </div>
                    <div class="Comment-footer">
                      <div class="Comment-appeal">
                        <button class="btn btn_white btn_like" data-btntype="check" data-check="false" data-btnradio="one1"
                                th:attr="data-likeid=${bookReview.getReview().getId()}" th:disabled="${isAnonymousUser}">
                          <span class="btn-icon">
                            <img src="/assets/img/icons/comment/like.svg" alt="like.svg"/>
                          </span>
                          <span class="btn-content" th:text="${bookReview.getLikedCount()}">100</span>
                        </button>
                        <button class="btn btn_white btn_dislike" data-btntype="check" data-check="false" data-btnradio="one1"
                                th:attr="data-likeid=${bookReview.getReview().getId()}" th:disabled="${isAnonymousUser}">
                          <span class="btn-icon">
                            <img src="/assets/img/icons/comment/dislike.svg" alt="dislike.svg"/>
                          </span>
                          <span class="btn-content" th:text="${bookReview.getDislikedCount()}">50</span>
                        </button>
                      </div>
                      <button th:if="${#strings.indexOf(bookReview.getReview().getText(), '.') >= 0}"
                              class="Spoiler-trigger btn btn_primary btn_nr" type="button" data-showtext="Свернуть отзыв" data-hidetext="Показать отзыв полностью">
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
  <script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
  <script src="/assets/js/UploadNewBookImageScript.js"></script>
  <script src="/assets/js/DownloadBookWindowScript.js"></script>
</body></html>